<% provide(:title, "About") %>
<h1>About</h1>
<h2>The Website</h2>
<p>
This is a site meant for non computer science majors, professors, and additional people to find a lonely computer science major student at Grinnell College, IA to contact and figuratively "adopt". This site is meant to help people become connected and create meaningful relationships. If you're interesting in "adopting" just look through our list of adoptees on the 'Adoptees' tab in the navigation bar!
</p>
<h2>My Skill Development </h2>
<p>	Hey there! <br>
Thank you for stopping on my page and I hope that you not find it to not be just an entertaining idea but that you find that this website demonstrates some amazing skills that I’ve learned during my Software Development course at Grinnell College during Spring 2020. If not, let me personally tell you why I believe that this website demonstrates some of the skills I’ve developed with Ruby on Rails.
<br>
By working on this website, I have learned how to modify and create new pages with Ruby on Rails. Most importantly, I have learned how views, controllers, and models all fit together when designing a website. On this website you will see various pages, with the two most important being “Adoptees” and “Sign-Up”. With the “Sign-Up” page, I have learned how to integrate a form with a database and demonstrate the updated database on the “Adoptees” page. This website also demonstrates how I have learned how to develop a site with a “brand” as I keep the colors of each page consistent and therefore the site becomes something users can begin associating to the “Adopt a CS Major” brand. Finally, unseen to most eyes are all the failures and challenges I had to overcome to make this site functioning. By working through my problems, I have not only learned how to be a Ruby on Rails developer, but I have learned how to be a better software engineer in general.
Thank you for reading and I wish you health and happiness! :)

</p>
