<% provide(:title, "About") %>
<h1>About</h1>
<p>
This is a site meant for non computer science majors, professors, and additional people to find a lonely computer science major student at Grinnell College, IA to contact and figuratively "adopt". This site is meant to help people become connected and create meaningful relationships. If you're interesting in "adopting" just look through our list of adoptees on the 'Adoptees' tab in the navigation bar!
</p>
