<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
 <b> For Adoptees:</b> <br>
  If you are looking to sign up as an "adoptee", go to our home page.
  You can navigate to the home page by clicking on the 'Home' button
  in the navigation bar. On the front page you will be able to click
  on the 'Sign Up!' button and fill out the form with the 
  appropriate information to complete your profile.
</p>  
<br>
<p>
  <b> For Adopters:</b> <br>
  Find our list of current adoptees by clicking on the 'Adoptees' button  in the navigation bar. There you will be able to see a list of 
  adoptees with their name and profile picture. Go through the adoptees
  and read their profiles. Once you find someone you're interesting in 
  "adopting" reach out to the individual by sending them an email!
</p>
