<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to <br> "Adopt A CS Major"</h1>

  <h2>
    This is site meant to help bring CS and non CS majors together by having people willingly volunteer to adopt a CS major.  <br/>
    <a href="https://www.freshu.io/tally-delong/5-things-computer-science-majors-are-tired-of-hearing" target="_blank">Learn about some CS major stereotypes!</a>
	<br>
	Here is a random name of a student you may adopt! : <i style ="color:blue;"><%= @result %> </i> <br>
	Don't like that student? Click <%= link_to 'New Name!', root_path%>
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<figure>
<center>
<%= link_to image_tag("kids.jpg", alt: "CS Students", :size => "340x220"),
            'http://www.cs.grinnell.edu/drupal6/curriculum.html' %>
<figcaption>Image from Grinnell CS Website </figcaption>
</center>
</figure>
