<footer class="footer">
  <small>
    Website created by Stefanie Ochoa </small>
 <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.cs.grinnell.edu/" target="_blank">Grinnell CS</a></li>
    </ul>
  </nav>
</footer>
